body {

	font-family:'Lora', serif; 
	font-size: 48px;
	color: #000000; 
	background:url("assets/dairy.jpg"); 
	background-repeat:no-repeat;
	background-size: cover; 
	font-weight: 800; 
	text-align: center;
	line-height: 200%;
    
}

h1 {
	
}

h2 {
	text-transform: lowercase;
}

p {
	font-size: 32px;
	color: white;
	font-weight: lighter
}