
body {
	background:url("assets/stripes.png"), url("assets/background.jpg") ; 
	background-repeat: repeat-x, no-repeat;
	font-family:'Helvetica' sans-serif; 
	color: #ffffff; 
	font-weight: 800; 
}


hr {
	width:100px;
	margin:0;
	border:none;
	height:3px;
	background-color: #905D67;
}

p {

}
